/* .bd{
    border: solid 5px;
    border-image: linear-gradient(to right, blue, red) 1;
    border-radius: 25px;
} */

.bd{
    position: relative;
    padding: 20px;
    border-radius: 20px;
    background: rgb(248, 250, 247);
    width: 200px;
    margin: auto;
    margin-top: 50px;
    height: 200px;
    /* box-shadow: 20px -20px 20px blue; */
}

 .bd::before{
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: linear-gradient(45deg, rgb(105, 103, 103) 60%, blue );
    z-index: -1;
    border-radius: inherit;
} 


.bd:hover{
    cursor: pointer;
    background: linear-gradient(20deg, rgb(92, 186, 209) 1%, rgb(11, 3, 48) 90%);
    color: white;
}